doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='css/main.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com', crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap' rel='stylesheet')
    body
        section.header.header-spacing
            .header-wrapper
                .logo
                    h4
                        a(href="/") Sufyan Tourism
                        //- a(href="/")
                        //-     img(src="images/logo-1.png" alt="") 
                if user
                    .header-menu.logedIn
                        .logount-btn.profile-btn
                            a.button.logout(href="/login") Logout
                        .login-profile
                            a(href="/me")
                                img(src=`images/${user.photo}`, alt="")
                                p.profile-btn=user.name.split(' ')[0]
                else
                    .header-menu
                        a.secondary-btn(href='/login') Login
                        a.primary-btn(href='/signin') Sigin

        section.hero
            .hero-wrapper.section-spacing
                h1 Go where there is no path and leave a trail
                p Tourism is the practice of traveling for pleasure, leisure, exploration, or discovery of new places and experiences. It is an essential part of the global economy and has a significant impact on both the destinations and the tourists themselves.

        section.alltours.section-spacing
            h2 MOST POPULAR TOURS
            .alltours-wrapper
                each tour in tours
                    .tour-content
                        .tour-content-img
                            img(src=`images/${tour.coverImg}`, alt="")
                        .tour-inner-content
                            h5.tour-title=tour.name
                            h6=`${tour.difficulty} ${tour.duration}`
                            p=tour.shortDescription
                            .tour-icon-content
                                .tour-icon-wrapper
                                    .icon
                                        i.fa-solid.fa-location-crosshairs
                                    .content Canda
                                .tour-icon-wrapper
                                    .icon
                                        i.fa-regular.fa-calendar
                                    .content April 2021
                                .tour-icon-wrapper
                                    .icon
                                        i.fa-regular.fa-flag
                                    .content 3 stops
                                .tour-icon-wrapper
                                    .icon
                                        i.fa-regular.fa-user
                                    div.content=`${tour.maxGroupSize}`
                            .price-details
                                .price-details-content
                                    h6=`$${tour.price}`
                                    .rating-detail
                                        p=`${tour.ratingAvarage}`
                                        p=`rating (${tour.ratingQuantity})`
                                .price-details-btn
                                    if user
                                        a.primary-btn(href=`/tour/${tour.slug}`) Details
                                    else
                                        a.primary-btn(href=`/login`) Details

        section.tourism-footer
            .tourism-footer-wrapper.section-spacing
                .footer-content
                    h5 Tourism Importance
                    p Tourism plays a vital role in the economic development of destinations. It generates income and employment opportunities, encourages infrastructure development, and promotes local businesses. Moreover, it fosters cultural exchange, as tourists often engage with the customs, traditions, and lifestyles of the communities they visit.
                .footer-content
                    h5 About Us
                    p As the tourism industry continues to evolve, sustainability and responsible tourism practices have gained importance. Travelers are increasingly conscious of their environmental and social impact and seek eco-friendly and culturally sensitive experiences. Many destinations and businesses are making efforts to minimize their environmental footprint and preserve their cultural heritage for future generations.

        section.footer-bottom
            p Sufyan Tourism @2023. All Rights are Reserved.

    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='../js/logout.js')
